.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end; /* Zmiana wartości na flex-end */
	background-color: #065c4f;
	padding: 10px;
	color: white;
  }
  
  .navbar h1 {
	font-size: 35px;
	margin: 0;
	margin-right: auto;
  }
  
  .navbar button {
	border: none;
	outline: none;
	padding: 10px 20px;
	background-color: transparent;
	color: white;
	font-size: 20px;
	cursor: pointer;
  }
  
  .navbar button:first-child {
	margin-left: auto; /* Dodaj tę linię, aby przesunąć pierwszy przycisk na prawo */
  }
  
  .navbar button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color 0.3s ease;
  }
  .main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Zajmuje całą dostępną wysokość ekranu */
    background-image: url("https://uploads-ssl.webflow.com/63efc7b910fa36fa6ca158a8/6405f70214eaebd680cb66ad_tennis-hero_dktop.webp");
    background-size: cover;
  }

  

  .detale {
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin-top: -200px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .section_title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .detail_item {
    display: flex;
    margin-bottom: 10px;
  }
  
  .detail_label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .detail_value {
    flex-grow: 1;
  }
  
  .password_form {
    margin-top: 20px;
    text-align: center;
  }
  
  .password_input {
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  
  .password_btn {
    justify-items: center;
    border: none;
	outline: none;
	padding: 12px 0;
    color: #f2f2f2;
	background-color: #065c4f;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;

  }
  .delete_btn{
    justify-items: center;
    border: none;
	outline: none;
	padding: 12px 0;
    color: #f2f2f2;
	background-color: #065c4f;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
  }