body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Material Icons',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url('kursor.png') !important; */
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #065c4f !important;
  
}
  
.material-icons {
	font-family: 'Material Icons';
	font-size: 84px !important;
	margin-bottom: 10px;
  }
.rbc-calendar{
  height: 300px!important;
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
  element.style{
    height: 300px!important;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.heading-1{
	font-size: 11rem!important;

  }
.style{
  margin-top:20px;
}
.fas{
  padding-top:100px;
  font-size: 100px;
  margin-bottom:50px;
  color: #fff7d6;
}
.desc{
  /* margin-top:300px; */
	color: #fff7d6!important;
  text-align: justify;
  /* margin-right: 500px; */
 }
 .detale {
  text-align: center!important;
 }

