.cennik {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url("https://uploads-ssl.webflow.com/63efc7b910fa36fa6ca158a8/6405f70214eaebd680cb66ad_tennis-hero_dktop.webp");
    background-size: cover;
  }
  
  .title {
    font-size: 3.5rem;
    color: #fff7d6;
    margin-bottom: -10px;
  }
  
  .tableContainer {
    max-width: 600px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #065c4f;
    color: white;
  }
  
  .table tr:last-child td {
    border-bottom: none;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #e6e6e6;
  }
  .navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end; /* Zmiana wartości na flex-end */
	background-color: #065c4f;
	padding: 10px;
	color: white;
  }
  
  .navbar h1 {
	font-size: 35px;
	margin: 0;
	margin-right: auto;
  }
  
  .navbar button {
	border: none;
	outline: none;
	padding: 10px 20px;
	background-color: transparent;
	color: white;
	font-size: 20px;
	cursor: pointer;
  }
  
  .navbar button:first-child {
	margin-left: auto; /* Dodaj tę linię, aby przesunąć pierwszy przycisk na prawo */
  }
  
  .navbar button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color 0.3s ease;
  }

 